#first-sec {
    height: 700px;
    background-position: center center;
    background-image: url(/imagens/3.png);
    background-size: cover;
}

a{
    text-decoration: none;
    color: white;
}

.formulario{
    margin-top: -45px;
}

.formulario .fundo-form {
    width: 95%;
    height: 120%;
    position: absolute;
    filter: opacity(0.7);
    border-radius: 10px;
    background: linear-gradient(#000000, #000000) padding-box, linear-gradient(220deg, transparent 30%, #000000, #ffffff) border-box;
    border: 2px solid transparent;
    padding: 32px 24px;
    font-size: 14px;
    color: white;
    display: flex;
    flex-direction: column;
    background-size: 200% 100%;
    animation: gradient 3s ease infinite;
}

#face{
    width: 6%;
}

.left p{
    font-size: 17px;
    margin-top: 40px;
    width: 100%;
}

.redes{
    background-color: #1a1a1a;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.redes .txt-redes{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.box{
    top: 100px;
}

.box img{
    width: 15%;
}

.redes .txt-redes h3{
    font-size: 15px;
}

@media only screen and (max-width: 600px) {
    #first-sec{
        height: 700px;
    }

    .left{
        margin-top: 20px;
    }

    .formulario{
        margin-top: -150px;
    }

    .redes{
        background-color: #1a1a1a;
    }

    .redes .txt-redes{
        padding: 10px;
        display: inline-flex;
        text-align: center;
    }

    .box img{
        width: 15%;
    }

    .redes .txt-redes h3{
        font-size: 20px;
    }
}